
{% extends "main/base.html" %}

{% block content %}
<div class="site-wrapper"><br><br><br><br>
<h3>Hillsborough and Pinellas County Court Date Search</h3>
<br>

<div class="jumbotron" style="margin: auto;
    width: 95%;">
  <form method="post" style="margin: auto;">
{% csrf_token %}
<h4 style="color:black;">Choose County:</h4>
<h4>{{form.county}}</h4>
<h4 style="color:black;">Put in both first and last name</h4>
<h4>{{form.first_name}}</h4>
<h4>{{form.last_name}}</h4>
<h4 style="color:black;">or Case Number</h4>
<h4>{{form.case_number}}</h4>
<input class="btn btn-lg btn-success" type="submit" value="Search" />
{% if messages %}
<center>

    {% for message in messages %}<br>
    <div class="alert alert-danger" role="alert"{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}
    <br><a href="/" style="color:blue">ok I got it</a></div>
    {% endfor %}

  </center>
{% endif %}
</form>
</div>

{% endblock %}
